extends layout

block content
    section.content
        div(style='display:none')
            h1 Anti Piracy Game
            p loading...

    img(src='/images/cantante1.png',class='delete')
    img(src='/images/cantante2.png',class='delete')
    img(src='/images/cantante3.png',class='delete')
    img(src='/images/bajista1.png',class='delete')
    img(src='/images/bajista2.png',class='delete')
    img(src='/images/bajista3.png',class='delete')
    img(src='/images/batero1.png',class='delete')
    img(src='/images/batero3.png',class='delete')
    img(src='/images/banda5.png',class='delete')