doctype html
html
  head
    title Anti Piracy Game
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/runtime.js',type='text/javascript')
    script(src='/javascripts/boq.js',type='text/javascript')
    script(src='/javascripts/engine.js',type='text/javascript')