
html
    head
        title Salva los artistas
        meta(name="description",content="he soportado la piratería por #{record} segundos en el juego Salva los artistas, supera mi record")
    body
        div(style='color:white')
            h1 Salva los artistas
            p
            img(src='/images/piracy.jpg',style='width:1px')
        script.
            location.href=location.origin