
html
    head
        title Game piracy
    body
        div(style='color:white')
            h1 Salva los artistas
            p he soportado la piratería por #{record} segundos en el juego Salva los artistas, supera mi record
            img(src='/images/piracy.jpg',style='width:1px')
        script.
            location.href=location.origin