body
  padding: 10px
  font: 14px Helvetica, "Lucida Grande", Arial, sans-serif
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

img,h2
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

::selection
  color: red;
  background: yellow;

::-moz-selection
  color: red;
  background: yellow;

a
  color: #00B7FF

paddcontent = 0px
.content
  position: absolute;
  top: paddcontent
  left: paddcontent
  right: paddcontent
  bottom: paddcontent
  overflow: hidden
  h2.time
    color: black;
    font-size 2.3em;
    text-align right;
    padding-right: 1em;
  h2.slogan
    font-size 2.3em;
    color #000000
    text-align center;

.end
  position: absolute
  right: 0
  top 30%
  color #000000
  text-align center
  h3,h3.record
    padding 10px
    font-size 1.5em
    margin 0px
  h3.playagain,h3.share
    cursor hand
    cursor pointer

  p.share
    text-align center;


.delete
  width 1px
.contentLoaded
  background-image url("/images/fondo_.jpg")
  background-position center bottom
  background-size auto 100%

.persons
  position: absolute;
  top: paddcontent
  left: paddcontent
  bottom: paddcontent
  background-color black
  transition: right 100ms
  img
    position absolute
    transition left 100ms
    bottom: 8px;
  .bajista1
    max-height: 75%;
  .bajista2
    max-height: 75%;
  .bajista3
    max-height: 80%
  .batero1
    max-height 50%
  .batero3
    max-height 55%
  .cantante1
    max-height 70%

  .cantante2
    max-height 55%
  .cantante3
    max-height 47%

.piracy
  position: absolute;
  top: paddcontent
  left: paddcontent
  bottom: paddcontent
  background-color black
  transition: right 100ms
  overflow: hidden;
  h2
    color: white;
    margin: 200px 0.3em;
    font-size: 3em;

.start
  top: paddcontent
  left: paddcontent
  right: paddcontent
  bottom: paddcontent
  position absolute
  text-align center
  h2
    span
      font-size 40px;
    position absolute
    top 10%
    left 0
    right 0
    font-size 30px
    color #000000
  img
    position absolute
    top 40%
    left calc(50% - 64px)