body
  padding: 10px
  font: 14px Helvetica, "Lucida Grande", Arial, sans-serif

a
  color: #00B7FF

paddcontent=2px
.content
  position: absolute;
  top: paddcontent
  left: paddcontent
  right: paddcontent
  bottom: paddcontent
