body
  padding: 10px
  font: 14px Helvetica, "Lucida Grande", Arial, sans-serif

a
  color: #00B7FF

paddcontent=0px
.content
  position: absolute;
  top: paddcontent
  left: paddcontent
  right: paddcontent
  bottom: paddcontent

.contentLoaded
  background-image url("/images/fondo_.jpg")
  background-position center bottom
  background-size auto 100%

.piracy
  position: absolute;
  top: paddcontent
  left: paddcontent
  bottom: paddcontent
  background-color black
  transition: right 100ms

.start
  top: paddcontent
  left: paddcontent
  right: paddcontent
  bottom: paddcontent
  position absolute
  text-align center
  h2
    position absolute
    top 25%
    left 0
    right 0
    font-size 30px
    color #ffffff
  img
    position absolute
    top 40%
    left calc(50% - 64px)