body {
  padding: 10px;
  font: 14px Helvetica, "Lucida Grande", Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.contentLoaded {
  background-image: url("/images/fondo_.jpg");
  background-position: center bottom;
  background-size: auto 100%;
}
.piracy {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: #000;
  transition: right 100ms;
}
.start {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  text-align: center;
}
.start h2 {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  font-size: 30px;
  color: #fff;
}
.start img {
  position: absolute;
  top: 40%;
  left: calc(50% - 64px);
}
