body {
  padding: 10px;
  font: 14px Helvetica, "Lucida Grande", Arial, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img,
h2 {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
::selection {
  color: #f00;
  background: #ff0;
}
::-moz-selection {
  color: #f00;
  background: #ff0;
}
a {
  color: #00b7ff;
}
.content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}
.content h2.time {
  color: #fff;
  font-size: 2.3em;
  text-align: right;
  padding-right: 1em;
}
.content h2.slogan {
  font-size: 2.3em;
  color: #fff;
  text-align: center;
}
.end {
  position: absolute;
  right: 0;
  top: 30%;
  color: #fff;
  text-align: center;
}
.end h3,
.end h3.record {
  padding: 10px;
  font-size: 1.5em;
  margin: 0px;
}
.end h3.playagain,
.end h3.share {
  cursor: hand;
  cursor: pointer;
}
.end p.share {
  text-align: center;
}
.delete {
  width: 1px;
}
.contentLoaded {
  background-image: url("/images/fondo_.jpg");
  background-position: center bottom;
  background-size: auto 100%;
}
.persons {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: #000;
  transition: right 100ms;
}
.persons img {
  position: absolute;
  transition: left 100ms;
  bottom: 8px;
}
.persons .bajista1 {
  max-height: 75%;
}
.persons .bajista2 {
  max-height: 75%;
}
.persons .bajista3 {
  max-height: 80%;
}
.persons .batero1 {
  max-height: 50%;
}
.persons .batero3 {
  max-height: 55%;
}
.persons .cantante1 {
  max-height: 70%;
}
.persons .cantante2 {
  max-height: 55%;
}
.persons .cantante3 {
  max-height: 47%;
}
.piracy {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: #000;
  transition: right 100ms;
  overflow: hidden;
}
.piracy h2 {
  color: #fff;
  margin: 200px 0.3em;
  font-size: 3em;
}
.start {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  text-align: center;
}
.start h2 {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  font-size: 30px;
  color: #fff;
}
.start h2 span {
  font-size: 40px;
}
.start img {
  position: absolute;
  top: 40%;
  left: calc(50% - 64px);
}
