body {
  padding: 10px;
  font: 14px Helvetica, "Lucida Grande", Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.contentLoaded {
  background-image: url("/images/fondo_.jpg");
  background-position: center bottom;
  background-size: auto 100%;
}
.piracy {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: #000;
  transition: right 100ms;
}
